@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>We provide worldwide licensing consulting services for security industries.</p>
<p>Our mission is to ease your licensing process while obtaining maximal security.</p>
