@{
    ViewData["Title"] = "Francais";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Nous avons des annees d'experience pour vous conseiller.</p>
<p>Nos chaleureux conseilles pour votre tranquilitee...</p>
